
body {
  background-color: lightblue;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

<h1>Welcome to the site where you can take surveys </h1>
<p>Questions</p>


